body{
  background-color: #bb9175;

}

.login
{
  font-family: Curlz-MT;
  text-align: center;
  margin-left: 100px;
  margin-right: 600px;
  margin-top: 100px;
  display: flex;
  height: 450px;
  background-color: white;
  box-shadow: 5px 5px 5px grey;
  border:  inset;
}
.login-text{
  text-align: center;
  font-family: Curlz MT;
}
.login-text img{
  margin-top: 10px;
}
.container
{
  display:flex;
}
button{
  height: 30px;
  width: 55px;
  background-color: #ae7d5b;
  color: white;
  margin-top: 20px;

}
button a{
  line:none;
}
button:hover{
  opacity: 0.8;
}
 span a{
  color: brown;
  line: none;
  font-size: 20px;
}
input{
  box-shadow: 4px 4px 4px #ae7d5b;
}
.image3{
  margin-left: 850px;
  margin-top: -460px;
  box-shadow: 4px 2px 4px white;
}
